/*----------generellt----------*/
html {
    --accentColor: #102512;
    --accentColor2: #add8b0;
    --accentColor3: #381b53;
    --BGcolor: #e4f8d6;
    --softCurves: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    color: #fff;
}


/* ----------grid---------- */
body {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
        "header header"
        "nav nav"
        "main aside"
        "footer footer";
}


/* ----------header---------- */
header {
    grid-area: header;
}


/* ----------nav---------- */
nav {
    grid-area: nav;
}


/* ----------produkter---------- */
#cardContainers {
    grid-area: main;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#cardContainers .productCard {
    margin: 0.4em;
    width: 20em;
    transition: background-color 0.4s;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#cardContainers .productCard:hover {
    background-color: var(--accentColor);
}

.imgPlaceholder {
    width: auto;
    height: 17em;
    background-color: var(--BGcolor);
    box-shadow: var(--accentColor);
}

#cardContainers .productCard p {
    padding: 0;
}

.category {
    margin-top: auto;
}

.category>span {
    background-color: var(--accentColor2);
    color: var(--accentColor);
    margin: 0.2em;
    border-radius: var(--softCurves);
}

.category p {
    display: inline-block;
    margin: 0.75em;
}

#cardContainers .priceClass {
    font-family: Limelight, "Segoe UI", sans-serif;
    font-size: 1.2em;
    display: inline-block;
}

#cardContainers button {
    float: right;
    margin: 1em;
    padding: 0.4em;
    font-size: 1em;
    background-color: var(--accentColor2);
    border: 0;
    border-radius: var(--softCurves);
    box-shadow: 0.2em 0.2em 5px var(--accentColor);
}


/* ----------kundvagn---------- */
#shoppingCart {
    grid-area: aside;
    padding: 0 0.75em;
    background-color: var(--accentColor3);
}

/* #shoppingCart */


/* ----------footer---------- */
footer {
    grid-area: footer;
    gap: 1.5em;
    margin: 0;
}